In [1]:

# Import Libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import scale,normalize
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.metrics import confusion_matrix,plot_confusion_matrix,classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
import warnings
warnings.filterwarnings('ignore')



#Naive Bayes
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB

In [2]:
train = pd.read_csv(r"C:\Users\Vanshika\Downloads\SalaryData_Train.csv")
test = pd.read_csv(r"C:\Users\Vanshika\Downloads\SalaryData_Test.csv")

In [3]:
train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [5]:
import dtale

In [6]:
eda_train = dtale.show(train)
eda_train

In [7]:
eda_test = dtale.show(train)
eda_test

In [8]:
from pandas_profiling import ProfileReport

ImportError: cannot import name 'ABCIndexClass' from 'pandas.core.dtypes.generic' (C:\Users\Vanshika\anaconda3\lib\site-packages\pandas\core\dtypes\generic.py)

In [ ]:
profile = ProfileReport(train, title="Pandas Profiling Report")
profile.to_widgets()

In [ ]:
profile1 = ProfileReport(test, title="Pandas Profiling Report")
profile1.to_widgets()

In [ ]:
df1 = train.copy()
df2 = test.copy()

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1.head()

In [ ]:
df2.head()

In [ ]:
%matplotlib inline
plt.figure(figsize=(12,5))
df1.workclass.value_counts().plot.bar(color='red');
plt.show()

In [ ]:
%matplotlib inline
plt.figure(figsize=(12,5))
df1.maritalstatus.value_counts().plot.bar(color='black');
plt.show()

In [ ]:
%matplotlib inline
plt.figure(figsize=(12,5))
df1.occupation.value_counts().plot.bar(color='pink');

In [ ]:
%matplotlib inline
plt.figure(figsize=(12,5))
df1.relationship.value_counts().plot.bar(color='blue');

In [ ]:

plt.figure(figsize=(12,5))
df1.race.value_counts().plot.bar(color='grey');

In [ ]:
plt.figure(figsize=(12,5))
df1.sex.value_counts().plot.bar(color='yellow');

In [ ]:
plt.figure(figsize=(12,5))
df1.Salary.value_counts().plot.bar(color='purple');

In [ ]:
tr1 = df1.iloc[:,0:13]

tr1 = pd.get_dummies(tr1)
tr1

In [ ]:
te1 = test.iloc[:,0:13]

te1 = pd.get_dummies(te1)
te1

In [ ]:
#train data concat
finaltrain = pd.concat([tr1, df1['Salary']],axis=1)
finaltrain

In [ ]:
#test data concat
finaltest = pd.concat([te1, df2['Salary']],axis=1)
finaltest

In [ ]:

# Finaltrain data
X = finaltrain.values[:,0:102]
Y = finaltrain.values[:,102]

#Finaltest data
x = finaltest.values[:,0:102]
y = finaltest.values[:,102]

In [ ]:
classifier_mb = MB()
classifier_mb.fit(X,Y)
train_pred_m = classifier_mb.predict(X)
accuracy_train_m = np.mean(train_pred_m==Y)

In [ ]:
test_pred_m = classifier_mb.predict(x)
accuracy_test_m = np.mean(test_pred_m==y)

In [ ]:

print('Training accuracy is:',accuracy_train_m,'\n','Testing accuracy is:',accuracy_test_m)

In [ ]:
from sklearn.naive_bayes import GaussianNB

In [ ]:
classifier_gb = GB()
classifier_gb.fit(X,Y) 
# we need to convert tfidf into array format which is compatible for gaussian naive bayes
train_pred_g = classifier_gb.predict(X)
accuracy_train_g = np.mean(train_pred_g==Y)

In [ ]:
test_pred_g = classifier_gb.predict(x)
accuracy_test_g = np.mean(test_pred_g==y)

In [ ]:

print('Training accuracy is:',accuracy_train_g,'\n','Testing accuracy is:',accuracy_test_g)